.form-contact-section{
    background-color: #1C2F40;
    color: #fcfcfa;
    padding: 3em;
}

.button-contact{
    background-color: #1C2F40;
    color: #fcfcfa;
}

.p-primary-contact{
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.5em;
  }

form div{
    
}