* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

body{
    background-color: #fcfcfa;
}

header{
  background-color: #fffbf6;
}

.container{
  width: auto;
}

.logo{
  display: flex;
  justify-content: center;
}

.main_logo{
  width: 10%;
}

#img-logo{
  width: 40%;
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.buscador a{
  padding: 10px;
  border-radius: 5px;
}

.menu-container{
  width: auto;  
  padding: 10px;
  background-color: #A0D3D9;
}

.menu-container ul{
  display: flex;
  justify-content: space-around;
}

.menu-container ul li a{
  font-size: 1rem;
  color: #010406;
  transition: 1s;
}

.menu-container ul li a:hover{
  font-size: 1.1rem;
  color: #1c2f40;
}

.menu-container ul li a:hover::after {
  width: 100%;
}

.buscador a:hover {
  background-color: #1C2F40;
  color: #fffff4;
}

.lupa{
  font-size: 2rem;
  color:#010406;
}

.main_banner{
  width: 100%;
  height: auto;
}

.container-btn{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button{
  padding: 10px 20px;
  background-color: #474641;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer{
  background-color: #4d4d4d;
  color: #fcfcfa;
  text-align: center;
  padding: 10px 0;
}

.img-mascota{
  width: 25%;
}